body {
    background-image: url(https://i.pinimg.com/736x/73/7a/fc/737afc838a044a4e5d33258db9ecebdb.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: aliceblue;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: aliceblue;
}

p {
    text-align: center;
    padding: 5px 5px 5px 5px;
    color: aliceblue;
    font-size: 15px;
    font-style: bold;
}

video {
    width: 400px;
    /* عرض الفيديو */
    margin-right: 20px;
    /* مسافة بين الفيديو والنص */
}

.container {
    display: flex;
    align-items: center;
    /* لمحاذاة الصورة مع النص */
}

.container img {
    margin-right: 10px;
    /* مسافة بين الصورة والنص */
    width: 100px;
    /* عرض الصورة */
    height: auto;
    /* الحفاظ على نسبة الأبعاد */
    margin: 10pt;
}

button {
    padding: 10px 20px;
    /* حجم الزر */
    font-size: 16px;
    /* حجم النص */
    color: white;
    /* لون النص */
    background-color: #007BFF;
    /* لون خلفية الزر */
    border: none;
    /* إزالة الحدود */
    border-radius: 5px;
    /* زوايا مدورة */
    cursor: pointer;
    /* تغيير شكل المؤشر عند المرور فوق الزر */
}

a {
    padding: 10px 20px;
    /* حجم الزر */
    font-size: 16px;
    /* حجم النص */
    color: white;
    /* لون النص */
    background-color: #007BFF;
    /* لون خلفية الزر */
    text-decoration: none;
    /* إزالة خط التسطير */
    border-radius: 5px;
    /* زوايا مدورة */
    cursor: pointer;
    /* تغيير شكل المؤشر عند المرور فوق الزر */
}